<!-- .page-inner -->
<div class="page-inner">

  <!-- page header -->
  <header class="page-title-bar">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a routerLink="/events/dashboard">
            <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>
            Dashboard
          </a>
        </li>
      </ol>
    </nav>

    <div class="d-md-flex align-items-md-start">
      <h1 class="page-title mr-sm-auto"> Create Event </h1>
    </div>
  </header>
  <!-- page header -->

  <!-- /.page-section -->
  <div class="page-section">

    <!-- event info -->
    <div class="card card-fluid">

      <!-- event info body -->
      <div class="card-body">

        <form novalidate="" [formGroup]="form">
          <!-- .fieldset -->
          <fieldset>

            <div class="form-group">
              <label class="control-label" for="beginAt">Event From <abbr title="Required">*</abbr> </label>
              <ng2-flatpickr
                id="beginAt"
                [config]="beginAtOptions"
                [setDate]="beginAtFormControlValue"
                formControlName="beginAt"
                addClass="form-control">

                <div class="invalid-feedback" *ngIf="!form.controls.beginAt.valid">
                  <i class="fa fa-exclamation-circle fa-fw"></i> From date should be defined
                </div>

              </ng2-flatpickr>
            </div>

            <div class="form-group">
              <label class="control-label" for="eventTime">Event Time <abbr title="Required">*</abbr> </label>
              <ng2-flatpickr
                id="eventTime"
                [config]="eventTimeOptions"
                [setDate]="eventTimeFormControlValue"
                formControlName="eventTime"
                addClass="form-control">

                <div class="invalid-feedback" *ngIf="!form.controls.eventTime.valid">
                  <i class="fa fa-exclamation-circle fa-fw"></i> Time should be defined
                </div>

              </ng2-flatpickr>
            </div>

            <div class="form-group">
              <label class="control-label" for="occursEvery"> Occurs every <abbr title="Required">*</abbr> </label>

              <app-occurs-every
                id="occursEvery"
                occursEveryFormControlName="occursEvery"
                [occursEveryFormGroup]="form">

              </app-occurs-every>
            </div>

            <div class="form-group">
              <label for="eventPersonInfo">Person name <abbr title="Required">*</abbr> </label>
              <input
                id="eventPersonInfo"
                type="text"
                class="form-control"
                placeholder="John Doe"
                formControlName="personInfo">

              <div class="invalid-feedback" *ngIf="!form.controls.personInfo.valid">
                <i class="fa fa-exclamation-circle fa-fw"></i> Person name should be defined
              </div>
            </div>

            <div class="form-group">
              <label for="eventNote">Note <abbr title="Required">*</abbr> </label>
              <textarea
                class="form-control fix-textarea"
                id="eventNote"
                placeholder="Birthday"
                formControlName="note">
              </textarea>

              <div class="invalid-feedback" *ngIf="!form.controls.note.valid">
                <i class="fa fa-exclamation-circle fa-fw"></i> Note should be defined
              </div>
            </div>

          </fieldset>
          <!-- /.fieldset -->

          <div class="form-actions">
            <button
              class="btn btn-primary"
              type="submit"
              aria-label="save event"
              [disabled]="!form.valid"
              (click)="saveEvent()">Submit
            </button>

            <button
              class="btn btn-primary ml-2"
              type="submit"
              aria-label="back to dashboard"
              routerLink="/events/dashboard">Back To Dashboard
            </button>
          </div>

        </form>

      </div>
      <!-- event info body -->

    </div>
    <!-- event info -->



    <div class="row">
      <div class="col-md-6 col-sm-12">
        <!-- add new reminder -->
        <app-add-reminder></app-add-reminder>
        <!-- add new reminder -->
      </div>

      <div class="col-md-6 col-sm-12">

        <!-- list reminders-->
        <app-list-reminders></app-list-reminders>
        <!-- list reminders-->

      </div>
    </div>

  </div>
  <!-- /.page-section -->

</div>
<!-- .page-inner -->
