.link:hover {
  color: #234875 !important;
  text-decoration: underline !important;
}

.link {
  color: #346cb0 !important;
  text-decoration: none !important;
  background-color: transparent !important;
}
