<!-- .page-inner -->
<div class="page-inner">

  <!-- /.page-section -->
  <div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">

      <!-- .card-body -->
      <div class="card-body">

        <div class="alert alert-primary has-icon" role="alert">
          <div class="alert-icon">
            <span class="oi oi-info"></span>
          </div>

          You do not have permissions to access page at {{ lastAuthErrorUrl }}
        </div>

      </div>

    </div>
  </div>
</div>
