<!-- .pagination -->
<ul class="pagination justify-content-center mt-4">

  <li [ngClass]="{ 'page-item': true, 'disabled': !hasPrevious }">
    <a class="page-link" (click)="goToPreviousPage()">
      <i class="fa fa-lg fa-angle-left"></i>
    </a>
  </li>
  <li class="page-item" *ngIf="showFirst">
    <a class="page-link" (click)="goToFirstPage()">1</a>
  </li>
  <li class="page-item disabled" *ngIf="showFirst">
    <a class="page-link">...</a>
  </li>
  <li class="page-item active">
    <a class="page-link"> {{ currentPageNumber + 1 }} </a>
  </li>
  <li [ngClass]="{ 'page-item': true, 'disabled': !hasNext }">
    <a class="page-link" (click)="goToNextPage()">
      <i class="fa fa-lg fa-angle-right"></i>
    </a>
  </li>
</ul>
