<div id="occursEvery" class="row">

  <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 mt-2">

    <div class="custom-number">
      <input
        type="number"
        class="form-control"
        [value]="value"
        (change)="valueChanged()"
        (input)="value = $event.target.value">

      <div class="custom-number-controls">
        <div class="custom-number-btn custom-number-up" (click)="numberUp()">+</div>
        <div class="custom-number-btn custom-number-down" (click)="numberDown()">-</div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 mt-2">
    <select class="custom-select" [value]="timeUnit" (change)="timeUnitChanged($event.target.value)">
      <option value=""> Choose... </option>
      <option value="DAY" selected="selected"> DAY </option>
      <option value="WEEK"> WEEK </option>
      <option value="MONTH"> MONTH </option>
      <option value="YEAR"> YEAR </option>
    </select>

  </div>
</div>
