<!-- .app -->
<div class="app">

  <!--[if lt IE 10]>
  <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a
    class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
  </div>
  <![endif]-->
  
  <!-- .app-header -->
  <header class="app-header app-header-dark">
    <!-- .top-bar -->
    <div class="top-bar">
      <!-- .top-bar-brand -->
      <div class="top-bar-brand">
        <a href="/portal">Events</a>
      </div><!-- /.top-bar-brand -->
      <!-- .top-bar-list -->
      <div class="top-bar-list">
        <!-- .top-bar-item -->
        <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
          <!-- toggle menu -->
          <button
            class="hamburger hamburger-squeeze"
            type="button"
            data-toggle="aside"
            aria-label="toggle menu">
            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
          </button> <!-- /toggle menu -->
        </div><!-- /.top-bar-item -->

      </div><!-- /.top-bar-list -->
    </div><!-- /.top-bar -->
  </header><!-- /.app-header -->

  <!-- .app-aside -->
  <aside
    id="looperAside"
    class="app-aside app-aside-expand-md app-aside-light">
    <!-- .aside-content -->
    <div class="aside-content">
      <div class="aside-menu overflow-hidden">
        <!-- .stacked-menu -->
        <nav id="stacked-menu" class="stacked-menu">
          <!-- .menu -->
          <ul class="menu">

            <li class="menu-item">
              <a href="index.html" class="menu-link"><span class="menu-icon fas fa-home"></span> <span
                class="menu-text">Events</span></a>
            </li>
            <!-- /events menu item -->

          </ul>
          <!-- /.menu -->
        </nav>
        <!-- /.stacked-menu -->
      </div>
      <!-- /.aside-menu -->

    </div>
    <!-- /.aside-content -->
  </aside>
  <!-- /.app-aside -->

  <!-- .app-main -->
  <main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .page -->
      <div class="page">

        <router-outlet></router-outlet>

      </div><!-- /.page -->
    </div><!-- /.wrapper -->
    <!-- .app-footer -->
    <footer class="app-footer">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Support</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Help Center</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms of Service</a>
        </li>
      </ul>
      <div class="copyright"> Copyright © 2018. All right reserved.</div>
    </footer>
    <!-- /.app-footer -->
  </main>
  <!-- /.app-main -->

  <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
</div><!-- /.app -->
