<a class="btn btn-sm btn-icon btn-secondary" (click)="onYes()">
  <i class="oi oi-check text-green"></i>
  <span class="sr-only">yes</span>
</a>
<a class="btn btn-sm btn-icon btn-secondary" (click)="onNo()">
  <i class="fa fa-times text-red"></i>
  <span class="sr-only">no</span>
</a>
