<!-- .page-inner -->
<div class="page-inner">

  <!-- /.page-section -->
  <div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">

      <!-- .card-body -->
      <div class="card-body">
        <!-- .form-group -->

        <form novalidate="" [formGroup]="searchForm">
          <div class="form-group">
            <!-- .input-group -->
            <div class="input-group input-group-alt">
              <!-- .input-group-prepend -->
              <div class="input-group-prepend">
                <select class="custom-select" aria-label="filter events">
                  <option selected=""> Filter By </option>
                  <option value="info"> Info </option>
                </select>
              </div><!-- /.input-group-prepend -->
              <!-- .input-group -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search record"
                  aria-label="filter events text"
                  formControlName="searchText"
                  (keyup.enter)="onSearch()">
              </div><!-- /.input-group -->
            </div><!-- /.input-group -->
          </div><!-- /.form-group -->
        </form>

        <!-- add new event button-->
        <button
          type="button"
          class="btn btn-success btn-floated"
          aria-label="create event"
          routerLink="/events/create-event">
          <span class="fa fa-plus">

          </span>
        </button>
        <!-- add new event button-->

        <!-- no data message -->
        <div *ngIf="!hasData && initialized">
          <div class="alert alert-primary has-icon" role="alert">
            <div class="alert-icon">
              <span class="oi oi-info"></span>
            </div>
            There is nothing to forget at this time
          </div>
        </div>
        <!-- no data message -->

        <!-- .table-responsive -->
        <div *ngIf="hasData">
          <div class="table-responsive">
            <!-- .table -->
            <table class="table">
              <!-- thead -->
              <thead>
              <tr>
                <th></th>
                <th></th>
                <th> Started on </th>
                <th> Event time </th>
                <th> Occurs every </th>
                <th style="width:100px; min-width:100px;"> &nbsp; </th>
              </tr>
              </thead><!-- /thead -->
              <!-- tbody -->
              <tbody>
              <!-- tr -->

              <ng-container *ngFor="let event of data; let i = index">
                <tr>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-icon btn-light"
                      aria-label="show row details"
                      (click)="toggleRowDetails(i)">
                      <span class="collapse-indicator">
                        <i [ngClass]="{ 'fa': true, 'fa-angle-down': event.showNote, 'fa-angle-right': !event.showNote}">

                        </i>
                      </span>
                    </button>
                  </td>
                  <td>
                    {{ event.personInfo }}
                  </td>
                  <td class="align-middle">
                    {{ event.beginAt }}
                  </td>
                  <td class="align-middle">
                    {{ event.eventTime }}
                  </td>
                  <td class="align-middle">
                    {{ event.occursEvery }}
                  </td>
                  <td class="align-middle text-right">
                    <div [hidden]="event.showConfirm">
                      <a class="btn btn-sm btn-icon btn-secondary" routerLink="{{ '/events/create-event/' + event.id}}">
                        <i class="fa fa-pencil"></i>
                        <span class="sr-only">Edit</span>
                      </a>
                      <a class="btn btn-sm btn-icon btn-secondary" (click)="deleteRow(i);">
                        <i class="fa fa-trash"></i>
                        <span class="sr-only">Remove</span>
                      </a>
                    </div>
                    <app-yes-no-option [hidden]="!event.showConfirm" [value]="i"
                                       (selection)="onDeleteSelection($event)">

                    </app-yes-no-option>
                  </td>
                </tr>
                <tr>
                  <td colspan="6" [ngClass]="{ 'row-details': true, 'bg-light': true, 'collapse': !event.showNote }">
                    {{ event.note }}
                  </td>
                </tr>
              </ng-container>

              </tbody><!-- /tbody -->
            </table><!-- /.table -->
          </div><!-- /.table-responsive -->
        </div>

        <div *ngIf="initialized">
          <app-paging [pageSize]="currentPageContext.size" (pageChange)="onPageChange($event)">

          </app-paging>
        </div>

      </div>
      <!-- /.card-body -->
    </div><!-- /.card -->

  </div>
  <!-- /.page-section -->


</div>
<!-- /.page-inner -->
