<div class="card card-fluid" *ngIf="initialized">

  <div class="card-body">
    <h3 class="card-title"> Reminders </h3>

    <!-- no data message -->
    <div *ngIf="eventReminders.length == 0">
      <div class="alert alert-primary has-icon" role="alert">
        <div class="alert-icon">
          <span class="oi oi-info"></span>
        </div>
        Everything is in your head right now. Do you need to write it down?
      </div>
    </div>
    <!-- no data message -->

    <div *ngIf="eventReminders.length != 0">
      <div class="table-responsive">

        <!-- .table -->
        <table class="table">
          <!-- thead -->
          <thead>
            <tr>
              <th> Event time </th>
              <th> Occurs every </th>
              <th style="width:100px; min-width:100px;"> &nbsp; </th>
            </tr>
          </thead><!-- /thead -->
          <!-- tbody -->
          <tbody>
          <!-- tr -->

            <ng-container *ngFor="let reminder of eventReminders; let i = index">
              <tr>
                <td class="align-middle">
                  {{ reminder.eventTime }}
                </td>
                <td class="align-middle">
                  {{ reminder.occursBefore }}
                </td>
                <td class="align-middle text-right">
                  <div [hidden]="showConfirm[i]">
                    <a class="btn btn-sm btn-icon btn-secondary" (click)="confirmDelete(i)">
                      <i class="fa fa-trash"></i>
                      <span class="sr-only">Remove</span>
                    </a>
                  </div>

                  <app-yes-no-option [hidden]="!showConfirm[i]" [value]="i" (selection)="onDeleteSelection($event)">

                  </app-yes-no-option>
                </td>
              </tr>
            </ng-container>

          </tbody><!-- /tbody -->
        </table><!-- /.table -->
      </div><!-- /.table-responsive -->
    </div>
  </div>
</div>
