<div class="card card-fluid" *ngIf="initialized">

  <div class="card-body">
    <h3 class="card-title"> Add Reminder </h3>

    <form novalidate="" [formGroup]="form">
      <fieldset>

        <div class="form-group">
          <label class="control-label" for="eventTime">Event Time <abbr title="Required">*</abbr> </label>
          <ng2-flatpickr
            id="eventTime"
            [config]="eventTimeOptions"
            [setDate]="eventTimeFormControlValue"
            formControlName="eventTime"
            addClass="form-control">

            <div class="invalid-feedback" *ngIf="!form.controls.eventTime.valid">
              <i class="fa fa-exclamation-circle fa-fw"></i> Time should be defined
            </div>

          </ng2-flatpickr>
        </div>

        <div class="form-group">
          <label class="control-label" for="occursEvery"> Notify before <abbr title="Required">*</abbr> </label>

          <app-occurs-every
            id="occursEvery"
            occursEveryFormControlName="occursEvery"
            [occursEveryFormGroup]="form">

          </app-occurs-every>
        </div>

        <div class="form-actions">
          <button
            class="btn btn-primary"
            type="submit"
            aria-label="add reminder"
            [disabled]="!form.valid"
            (click)="addReminder()">Submit
          </button>
        </div>

      </fieldset>
    </form>
  </div>
</div>
